@keyframes moveRightThenLeft {
    0% {
      transform: translateX(0%);
    }
    49.9% {
      transform: translateX(100vw);
    }
    50% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .box {
   
    animation: moveRightThenLeft 6s linear infinite;

  }
  