
  /* Wrapper to ensure only one line is visible */
  .text-wrapper {
    overflow: hidden;
    height: 2.5rem; /* Adjust to fit your text size */
    position: relative;
  }
  
  /* List styling and animation */
  .animate-text-slide {
    display: flex;
    flex-direction: column;
    animation: text-slide 12s infinite;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .text-wrapper li {
    height: 2.5rem; /* Same height as .text-wrapper */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust alignment */
    font-size: 2rem; /* Adjust font size */
    font-weight: bold;
    color: #f3f3f3; /* Indigo-500 */
  }
  


  /* General Styling */
body {
  margin: 0;
  padding: 0;
}



/* Profile Image */
img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
button {
  transition: background-color 0.3s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .flex-col {
    flex-direction: column;
  }

  .md\\:flex-row {
    flex-direction: column;
  }

  .md\\:justify-start {
    justify-content: center;
  }

  .md\\:ml-10 {
    margin-left: 0;
  }

  .md\\:text-left {
    text-align: center;
  }

  .md\\:pl-8 {
    padding-left: 0;
  }

  .md\\:pr-8 {
    padding-right: 0;
  }

  .md\\:mt-0 {
    margin-top: 20px;
  }

  .md\\:text-6xl {
    font-size: 2rem;
  }

  .md\\:text-5xl {
    font-size: 1.8rem;
  }

  .md\\:text-lg {
    font-size: 1rem;
  }

  .sm\\:text-4xl {
    font-size: 1.6rem;
  }

  .sm\\:text-base {
    font-size: 0.9rem;
  }

  .sm\\:max-w-md {
    max-width: 80%;
  }

  .sm\\:px-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sm\\:py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .sm\\:text-3xl {
    font-size: 1.5rem;
  }

  .sm\\:pl-10 {
    padding-left: 10px;
  }

  .sm\\:max-w-xs {
    max-width: 60%;
  }

  /* Social Media Icons */
  .flex.justify-center {
    justify-content: center;
  }

  .flex.gap-3 {
    gap: 10px;
  }
}
