
  /* Wrapper to ensure only one line is visible */
  .text-wrapper {
    overflow: hidden;
    height: 2.5rem; /* Adjust to fit your text size */
    position: relative;
  }
  
  /* List styling and animation */
  .animate-text-slide {
    display: flex;
    flex-direction: column;
    animation: text-slide 12s infinite;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  .text-wrapper li {
    height: 2.5rem; /* Same height as .text-wrapper */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust alignment */
    font-size: 2rem; /* Adjust font size */
    font-weight: bold;
    color: #f3f3f3; /* Indigo-500 */
  }
  